.container
  .card
    %h3.title Publica
    %h5.subtitle
      %span Catálogo de datos institucional
    %p
      Antes de poder publicar el Catálogo de Datos es necesario haber concluido los siguientes pasos:
    %ul.list
      %li.item
        .index 1
        = link_to 'Subir el Inventario de Datos', inventories_path
      %li.item
        .index 2
        = link_to 'Generar Plan de Apertura', opening_plan_index_path
