.container
  .card
    %h3.title Publica
    %h5.subtitle
      %span Catálogo de datos institucional
    %p
      Antes de poder publicar el Catálogo de Datos es necesario haber concluido los siguientes pasos:
    %ul.list
      %li.item
        .index 1
        = link_to 'Subir el Plan de Apertura Institucional', inventories_datasets_path
