.container
  .card
    %h3.title Inventario de Datos Abiertos
    %p El Inventario de Datos Abiertos es un listado de todos los Conjuntos y Recursos de Datos Abiertos con las fechas comprometidas de publicación y actualización para cada uno de ellos.
    %p Da click en el botón de “AGREGAR UN CONJUNTO” para comenzar a crear tu Inventario de Datos Abiertos.
    = link_to 'Agregar un conjunto nuevo', new_inventories_dataset_path, { class: 'btn btn-primary pull-right' }
    .clearfix
    - if current_organization.catalog && current_organization.catalog.datasets.present?
      .pull-right
      = render partial: 'inventories/shared/list', locals: { inventory: current_organization.inventory }
      = link_to 'Descargar Inventario Actual', organization_inventory_path(current_organization, format: :csv), { class: 'btn btn-primary' }
      = link_to 'Ir al Catálogo de Datos', organization_catalogs_path(current_organization), { class: 'btn btn-primary pull-right' }
      .clearfix
