<div class="col-md-6 pull-left disabled-tab">
  <div class="first-step">
    <h3>Plan de apertura <br/> <small>No tienes un plan de datos todavía.</small></h3>
  </div>
</div>
<div class="col-md-6 pull-right active-tab">
  <div class="second-step">
    <h3>Inventario de datos <br/> <small>No tienes un inventario de datos cargado todavía.</small></h3>
  </div>
</div>