<div class="row">
  <div class="col-md-offset-2">
    <div class="col-md-2 text-center">
      <a href="#" class="btn btn-info">1. Plan de apertura</a>
    </div>
    <hr class="col-md-1 label-info"></hr>
    <div class="col-md-2 text-center">
      <a href="#" class="btn btn-info">2. Carga el inventario</a>
    </div>
    <hr class="col-md-1"></hr>
    <div class="col-md-2 text-center">
      <a href="#" class="btn btn-default">3. Publica datos abiertos</a>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-offset-7">
    <ul class="list-inline">
      <li><%= link_to "Actualizar inventario", "#", :id => "js_inventory" %></li>
      <li>|</li>
      <li><%= link_to "Descargar plantilla","#" %></li>
    </ul>
    <%= render "file_form" %>
  </div>
</div>