.DS_Store
.buildpacks
.dockerignore
.editorconfig
.env
.git/
.gitignore
.rubocop.yml
.ruby-version
.travis.yml
.vagrant/
Aptfile
Dockerfile
LICENSE
Procfile
README.md
_provision/
coverage/
docker-compose.yml
docker-compose.sample.yml
log/
tmp/
vagrantfile
