.btn {
  @extend .control_override;
  padding: 10px;
  border: 0;
  text-transform: uppercase;
}

.btn-primary {
  @include button($cartoon_green, white);
}

.btn-default {
  @include button($grey_150, $grey_600);
}
