.btn {
  border: none;
  font-size: 14px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,  {
  background-color: #00CC99;
}

.btn-alt,
.btn-alt:hover,
.btn-alt:focus,  {
  background-color: #4A4A4A;
}
