.table thead > tr > th {
  font-weight: 700;
}

.table tbody > tr.active > td {
  background-color: $gray_800 !important;
  border-top: 2px solid $gray_700;

  strong {
    color: $gray_500;
  }
}

.table tbody > tr.active > td > a {
  color: $gray_400;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table td.center,
.table th.center {
   text-align: center;
}
