@import "defaults/colors";

.table-cell {
  @include text__decorator($grey_800);
  padding: 15px;
}

.table {
  & > thead > tr > th,
  & > tbody > tr > td {
    @extend .table-cell;

    &.nested {
      padding-left: 5em;
    }

    &.center {
      text-align: center;
    }
  }

  & > thead > tr > th {
    @extend .table-cell;
  }
}
