@mixin heading($size, $color, $margin-bottom: 10px) {
  color: $color;
  font-size: $size;
  font-size: bold;
  margin-bottom: $margin-bottom;
}

// Colors
// $default_text_color: $medium_grey;

/* Heading */
// h1 { @include heading(32px, $cartoon_green); }
// h3 { @include heading(22px, $cartoon_green); }
// h5 { @include heading(18px, $medium_grey); }

/* Paragraph, spans and links */
// p, span, a, label {
//   color: $default_text_color;
// }
