@mixin heading($size, $color, $margin-bottom: 10px) {
  color: $color;
  font-size: $size;
  font-weight: 300;
  margin-bottom: $margin-bottom;
}

// Colors
$default_text_color: $grey_800;

/* Heading */
@mixin heading-1($color: $cartoon_green) { @include heading(32px, $color); }
@mixin heading-3($color: $cartoon_green) { @include heading(22px, $color); }
@mixin heading-5($color: $cartoon_green) { @include heading(18px, $color); }

@mixin text__decorator($color) {
    color: $color;
    font-weight: 300;
}

h1 { @include heading-1(); }
h3 { @include heading-3(); }
h5 { @include heading-5(); }

/* Paragraph, spans and links */
p, span {
  @include text__decorator($grey_200);
}
