%ol#tour.hidden
  %li{"data-button" => "Iniciar tour"}
    %p (1/6) En esta sección documentarás los conjuntos de datos y sus recursos para publicar en datos.gob.mx.
  %li{"data-class" => "table", "data-button" => "Revisar conjuntos de datos", "data-options" => "tipLocation:top"}
    %p (2/6) Esta tabla representa el Catálogo de Datos Abiertos de tu Institución derivado de lo capturado en el Plan de Apertura.
  %li{"data-class" => "dataset", "data-button" => "Ver recursos"}
    %p (3/6) Esta fila muestra un conjunto de datos con el cálculo de recursos documentados.
  %li{"data-class" => "status", "data-button" => "Ir a documentar", "data-options" => "tipLocation:bottom"}
    %p (4/6) Los recursos se muestran con su estado de publicación que puede ser cualquiera de los siguientes: 'Falta información', 'Listo para publicar', y 'Publicado'.
  %li{"data-class" => "action", "data-button" => "Ir a publicación", "data-options" => "tipLocation:left"}
    %p (5/6) En la columna de acciones hay enlaces para editar directamente tanto los recursos como los conjuntos de datos.
  %li{"data-id" => "publish", "data-button" => "Finalizar tour"}
    %p (6/6) Una vez que los conjuntos y recursos estén documentados puedes generar una publicación.
