%ol#tour.hidden
  %li{"data-button" => "Iniciar tour"}
    %p (1/7) En esta sección documentarás a detalle un conjunto de datos y sus recursos.
  %li{"data-class" => "preloaded", "data-button" => "Actualizar campos editables", "data-options" => "tipLocation:top"}
    %p (2/7) Los campos a la izquierda han sido precargados en el Plan de Apertura. Para editarlos es necesario regresar a dichas fases.
  %li{"data-id" => "dataset_mbox", "data-button" => "Documentar recursos"}
    %p (3/7) Los campos a la derecha deben ser completados.
  %li{"data-class" => "action", "data-button" => "Revisar status", "data-options" => "tipLocation:left"}
    %p (4/7) Para documentar los recursos haz click en Completar/Actualizar.
  %li{"data-class" => "status", "data-button" => "Documentar el siguiente", "data-options" => "tipLocation:bottom"}
    %p (5/7) Una vez documentado el recurso, su status cambiará a "Listo para publicar".
  %li{"data-id" => "next", "data-button" => "Regresar al catálogo", "data-options" => "tipLocation:top"}
    %p (6/7) Puedes avanzar a la documentación del siguiente conjunto de datos.
  %li{"data-id" => "back", "data-button" => "Finalizar tour", "data-options" => "tipLocation:right"}
    %p (7/7) O regresar al catálogo de datos para publicar.
