.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Home', '#'
    %li= link_to 'Previous 1', '#'
    %li= link_to 'Previous 2', '#'
    %li= link_to 'Previous 3', '#'
    %li.active Active
    
  .card
    %h3.title Aviso de ciclones tropicales
    %h5.subtitle Completar recurso Aviso de ciclones tropicales en formato CAP
    %form.form-horizontal
      .form-group
        .col-xs-12.col-sm-12
          %label URL para descargar *
        .col-xs-12.col-sm-6
          %input.form-control{ type: "text" }

      .form-group
        .col-xs-12.col-sm-12
          %label Período de tiempo cubierto *
        .col-xs-12.col-sm-3
          .input-group
            %input.input-icon.datepicker{ type: "text", placeholder: "Inicio" }
            %span.input-group-addon
              %i.fa.fa-calendar
        .col-xs-12.col-sm-3
          .input-group
            %input.input-icon.datepicker{ type: "text", placeholder: "Fin" }
            %span.input-group-addon
              %i.fa.fa-calendar

      .form-group
        .col-xs-12.col-sm-12
          %label Fecha de &uacute;ltima modificaci&oacute;n de datos *
        .col-xs-12.col-sm-3
          .input-group
            %input.input-icon.datepicker{ type: "text" }
            %span.input-group-addon
              %i.fa.fa-calendar

      %a.btn.btn-primary Guardar avance
