<br/>
<%= render "layouts/flash_messages", :flash => flash %>
<br/>

<div class="row">
  <div class="col-md-8">
    <h3>
      Áreas o temas para publicar. (Ordenados por prioridad)<br/>
      <small>Todavía no tienes áreas o temas agregados.</small>
    </h3>

    <div id="topics-listing"></div>
    <div id="new-topic-container"></div>

    <button type="button" id="new-topic-button" class="btn btn-default pull-left">
      <span class="glyphicon glyphicon-plus"></span>
      Agregar nueva área o tema
    </button>
    <% unless current_organization.topics.any? %>
      <div id="start_adding_topics" class="col-md-6">
        <%= image_tag "arrow_left.png", :class => "arrow-left" %>
        <strong class="h4">Empieza tu plan de apertura</strong>
      </div>
    <% end %>
    <div class="col-md-12">
      <br/><br/>
      <div id="save_plan" class="col-md-6 col-md-offset-3 <%= 'hidden' unless current_organization.has_public_topics? %>">
        <%= link_to "¡LISTO!, terminé el plan de apertura", publish_topics_path, :class => "btn btn-primary btn-block" %>
        <small><em>Esto te lleva al siguiente paso, no te preocupes, siempre puedes regresar a editar tu plan de apertura.</em></small>
      </div>
    </div>
  </div>

  <div class="col-md-4 bg-info">
    <h4>¿Qué es un plan de apertura?</h4>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
    consectetur adipisci velit</p>

    <div class="clearfix">
      <p class="pull-right">
        <a href="#"><span class="glyphicon glyphicon-minus"></span> reducir</a>
      </p>
    </div>

    <h4>¿Para qué sirve un plan de apertura?</h4>
    <p>Sed ut perspiciatis, unde omnis iste natus error sit
    voluptatem accusantium doloremque laudantium, totam rem aperiam
    eaque ipsa, quae ab illo inventore veritatis et quasi architecto
    beatae vitae dicta sunt, explicabo.</p>

    <div class="clearfix">
      <p class="pull-right">
        <a href="#"><span class="glyphicon glyphicon-minus"></span> reducir</a>
      </p>
    </div>

    <p><a href="#">Más ayuda sobre el plan de apertura</a></p>
  </div>
</div>


<br><br><br><br>

<script>
  $(function () {
    new Topics.Form({
      show_form_button: "#new-topic-button",
      form_container: "#new-topic-container",
      success_callback: function (data) {
        var item = new Topics.Item(data);
        item.load_in("#topics-listing");
      }
    });

    var topic_loader = new Topics.Loader();
    topic_loader.load_in("#topics-listing");
  });
</script>
