#intro
  .overlay
  .row.content
    .col-xs-12.subtitle
      %h3.bright
        Con la Administradora de la Apertura, planea, publica, perfecciona
        y promueve datos abiertos.

  .container
    .row.actions
      - if !user_signed_in?
        .col-xs-12.col-md-6.col-md-offset-3
          %p.topic Ingresar
          %hr
          = render 'shared/forms/user', resource: User.new, resource_name: :user
