<%= render "layouts/flash_messages", :flash => flash %>
<div class="app-description row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="title col-md-3 pull-left">
      <span class="heading">ADELA</span>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ante diam. Mauris non felis tortor. Sed ut imperdiet arcu. Nam viverra, orci ac gravida interdum, risus tortor rutrum magna, eu interdum felis tortor in eros.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="dashboard-wrapper">
    <div class="section-heading">
      <span class="activity-icon h4">Actividad reciente</span>
    </div>
    <div class="section-content">
    </div>
    <div class="section-heading">
      <span class="organization-icon h4">Instituciones</span>
    </div>
    <div class="section-content">
    </div>
    <div class="section-heading">
      <span class="calendar-icon h4">Programa de apertura</span>
    </div>
    <div class="section-content">
    </div>
  </div>
</div>
