.overlay
  .foo
    .container
      .jumbotron-home
        .row
          - if !user_signed_in?
            .col-xs-12.col-md-6
              %h3
                <strong>Adela</strong> es la plataforma para publicar en datos.gob.mx y darle seguimiento al cumplimiento de la Política de Datos Abiertos en tu Institución
            .col-xs-12.col-md-6
              %h5 Ingresar
              %hr
              = render 'shared/forms/user', resource: User.new, resource_name: :user
  %dgm-footer
