%tr.distribution.accordion-body.collapse{'class' => "dataset_#{distribution.dataset.id}_distributions"}
  %td
  %td.nested= distribution.title
  %td.center
    %span.label.label-default
      = distribution.media_type
  %td
  %td.center
    = render partial: 'inventories/shared/menus/distribution_actions', locals: { distribution: distribution }
