- unless element.compliant?
  - element.warnings.messages.keys.each do |key|
    - element.warnings.messages[key].uniq.each do |warning|
      %li.item
        .index Rengl&oacute;n #{element.row}
        %span= warning
