.card.padding-top.bg--grey
  %h5.primary.boldish Desafortunadamente no pudimos procesar tu último Inventario de Datos
  %p
    Revisa que tu archivo respete el formato original de la plantilla. Si el problema persiste, por favor contacta a escuadron@datos.gob.mx con una copia de tu inventario.
  %p.primary
    = "Mensaje de Error: #{inventory.error_message}"
