= form_for Inventory.new do |f|
  .form-group
    %label Selecciona el archivo *
    = f.file_field :spreadsheet_file, required: true
  .form-group
    %label Selecciona el archivo de la Minuta de Autorizaci&oacute;n del Grupo de Trabajo
    = f.file_field :authorization_file
  .form-group
    %button.btn.btn-primary{ type: 'submit' } Subir inventario
  %p * Campos obligatorios
