.card.bg--grey.padding-top.margin-top
  %h5.primary
    Designaci贸n de Enlace y Administrador de Datos Abiertos
  %p
    Carga el oficio de designaci贸n del Enlace y Administrador de Datos Abiertos de tu instituci贸n y la minuta del Consejo Intitucional de Datos Abiertos.
  = nested_form_for current_organization.inventory do |f|
    .form-group
      %label.strong Selecciona el archivo del Oficio de Designaci贸n *
      = f.file_field :designation_file, required: true
    .form-group
      %label.strong Selecciona el archivo de la Minuta de Autorizaci&oacute;n del Grupo de Trabajo
      = f.file_field :authorization_file, required: true
    .form-group
      %button.btn.btn-primary{ type: 'submit' } Subir oficios
  %p * Campos obligatorios
