.table-responsive
  %table.table{ 'style' => 'border-collapse:collapse;' }
    %thead
      %tr
        %th.center #
        %th= sortable('title', 'Nombre del conjunto y sus recursos')
        %th.center Recursos del conjunto
        %th.center Acceso
        %th.center= sortable('publish_date', 'Fecha estimada de publicación')
        %th.center Acciones
    %tbody
      = render partial: 'inventories/shared/dataset', collection: @datasets
