%table.table.table-striped
  %thead
    %tr
      %th
      %th Nombre del conjunto
      %th Fecha estimada de publicación
  %tbody
    = render partial: 'inventories/shared/element', collection: inventory.datasets
