%table.table
  %thead
    %tr
      %th Nombre del conjunto
      %th.center Acceso
      %th.center Fecha estimada de publicación
  %tbody
    = render partial: 'inventories/shared/dataset', collection: current_organization.catalog.datasets
