%table.table.table-striped
  %thead
    %tr
      %th Nombre del conjunto
      %th Acceso
      %th Fecha estimada de publicación
  %tbody
    = render partial: 'inventories/shared/dataset', collection: current_organization.catalog.datasets
