%table.table
  %thead
    %tr
      %th #
      %th Nombre del conjunto
      %th.center Acceso
      %th.center Fecha estimada de publicación
      %th.center Acciones
  %tbody
    = render partial: 'inventories/shared/dataset', collection: current_organization.catalog.editable_datasets
