%table.table
  %thead
    %tr
      %th #
      %th 
        Nombre del conjunto
      %th
        = link_to "", new_inventories_dataset_path, { :class => 'glyphicon glyphicon-plus-sign btn-glyph', "data-toggle" => "tooltip", :title => "Agregar nuevo conjunto" }
      %th.center Acceso
      %th.center Fecha estimada de publicación
      %th.center Acciones
  %tbody
    = render partial: 'inventories/shared/dataset', collection: current_organization.catalog.editable_datasets
