.card.padding-top.bg--grey
  %p Se est&aacute; procesando la siguiente actividad
  %p.primary.boldish Inventario institucional de Datos de #{@inventory.organization.title}
  = link_to 'Refrescar', inventory_path(inventory), { class: 'btn btn-primary' }
