// Colors
$black: #222222;

$grey_100: #F6F6F6; // ex. background
$grey_150: #EDEDED; // ex. newsletter
$grey_200: #B7B7B7; // ex. text
$grey_800: #474747; // ex. header
$grey_900: #212121;

$cartoon_green: #00CC99; // ex. button

$red_800: #FF6666; // ex. form error
