// Legacy color names [REFACTOR]
// $gray: #DCDCDC;
// $grey-200: #EEEEEE;
// $grey-600: #757575;
// $brand-primary: #11ad00;
// $white: #FFFFFF;
//
// $dashboard-background: $grey-200;
//
// // Light colors
// $light_grey: #F0EFEF;
// $light_green: #93BB3B;
//
// // Medium colors
// $medium_grey: #9B9B9B;
//
// // Dark colors
// $cartoon_green: #283858;
// $dark_grey: #757575;
//
// //
// $border_color: #E0E0E0;

// Colors
$black: #222222;

$grey_100: #F6F6F6; // ex. backround
$grey_200: #B7B7B7; // ex. text
$grey_800: #474747; // ex. header

$cartoon_green: #00CC99; // ex. button
