.container
  .card
    .card.bg--grey.padding-top.margin-top
      %h3 ¿Estás seguro que deseas eliminar este Conjunto de Datos?
      %p
        Al borrar el conjunto: <strong class='highlight'>#{@dataset.title}</strong>, se perderán también los recursos asociados a éste.
      = link_to 'Eliminar Conjunto de Datos', inventories_dataset_path(@dataset), data: {}, method: :delete, class: 'btn btn-primary'
      = link_to 'Cancelar', inventories_datasets_path, class: 'btn btn-default'
