.container
  .card
    %h3.title Planea
    %h5.subtitle Inventario de datos
    .card.padding-top.bg--grey
      %h5.primary.boldish Eliminar Conjunto de Datos
      %p
        Al borrar el conjunto <strong>#{@dataset.title}</strong>, se perderán los recursos asociados a el.
      = link_to 'Eliminar Conjunto de Datos', inventories_dataset_path(@dataset), data: {}, method: :delete, class: 'btn btn-primary'
      = link_to 'Cancelar', inventories_path, class: 'btn btn-default'
