# See documentation at https://github.com/laserlemon/figaro

# ActionMailer credentials
MAILER_ADDRESS: ''
MAILER_USERNAME: ''
MAILER_PASSWORD: ''
MAILER_DOMAIN: ''

# Mails 'from' field
MAILER_FROM: ''

# App host
HOST: ''

# Redis server URL
REDISTOGO_URL: ''

# AWS S3 credentials
S3_BUCKET_NAME: ''
AMAZON_ACCESS_KEY: ''
AMAZON_SECRET_KEY: ''
AWS_REGION: ''
