.dropdown
  %button.btn.btn-default.dropdown-toggle{ 'type' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' }
    %span.caret
  %ul.dropdown-menu
    %li.dropdown-header
      Recurso de Datos
    %li
      = link_to edit_inventories_dataset_distribution_path(distribution.dataset, distribution) do
        Editar
    %li
      = link_to '#' do
        Eliminar
