.btn-group
  %button.btn.btn-primary.dropdown-toggle{ 'type' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
    Acciones
    %span.caret.white
  %ul.dropdown-menu
    %li.dropdown-header
      Inventario de Datos
    %li= link_to 'Actualizar', new_inventory_path
    %li= link_to 'Descargar', current_inventory.spreadsheet_file.url
    %li.divider{ 'role' => 'separator' }
    %li.dropdown-header
      Conjunto de Datos
    %li= link_to 'Agregar', new_inventories_dataset_path
