.container
  = custom_devise_error_messages!
  .card
    %h3.title Iniciar Sesion
    %h5.subtitle
      .span Ingresa los siguientes datos:
    = render 'shared/forms/user', resource: resource, resource_name: resource_name
