.container
  %ol.breadcrumb
    %li= link_to 'Admin', admin_root_path
    %li= link_to 'Organizaciones', admin_organizations_path
    %li.active= link_to 'Nueva', new_admin_organization_path
  .card
    %h3.title Nueva Organización
    = render 'admin/organizations/shared/form'
