<div class="container">
  <%= form_tag(admin_create_users_path, :method => :post, multipart: true) do |f| %>
    <%= label_tag "CSV con usuarios" %>
    <br/>
    <small>Asegúrate de que contengan las columnas: <strong>"nombre", "email", "organizacion"</strong></small>
    <%= file_field_tag :csv_file %>
    <br/>
    <%= submit_tag "Crear usuarios del archivo", :class => "btn btn-primary" %>
  <% end %>
</div>