.container
  %ol.breadcrumb.breadcrumb-admin
    %li.active= link_to 'Admin', admin_root_path
  .navbar
    .container-fluid
      .navbar-header
        = link_to '<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Administrar Usuarios'.html_safe, admin_users_path, :class => "btn button navbar-btn"
        = link_to '<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Administrar Organizaciones'.html_safe, admin_organizations_path, :class => "btn button navbar-btn"
