.container
  %ol.breadcrumb
    %li.active= link_to 'Admin', admin_root_path
  .card
    %h3.title Usuarios
    %h5.subtitle
      Aqu&iacute; podr&aacute;s ver el listado de usuarios, editar, crear y borrar usuarios en Adela.
    = link_to 'Ver Usuarios'.html_safe, admin_users_path, class: 'btn btn-primary'
  .card
    %h3.title Organizaciones
    %h5.subtitle
      Aqu&iacute; podr&aacute;s ver el listado de organizaciones en adela.
    = link_to 'Ver Organizaciones'.html_safe, admin_organizations_path, class: 'btn btn-primary'
  .card
    %h3.title Tablero de avance
    %h5.subtitle
      Aqu&iacute; podr&aacute;s calificar a las organizaciones.
    = link_to 'Calificar'.html_safe, edit_multiple_admin_organizations_path, class: 'btn btn-primary'
