<div class="container">
  <div class="dashboard-wrapper">
    <h2>Organizaciones</h2>
    <table class="table table-condensed table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acceder como miembro</th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |org| %>
          <tr>
            <td><%= org.title %></td>
            <td>
              <ul class="list-unstyled">
                <% org.users.each do |member| %>
                  <li><%= link_to "Acceder como #{member.name}(#{member.email})", admin_acting_as_path(:user_id => member.id) %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @organizations %>
  </div>
</div>