.breadcrumb {
  background-color: #FFF;
  margin-bottom: 30px;
  font-size: 16px;

  a {
    color: $cartoon_green;
    &.hover {
      color: $cartoon_green;
    }
  }
}

.breadcrumbs {
  padding: 20px 0;
}
