.bs-callout {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid $gray_800;
  border-left-width: 10px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
