.joyride-tip-guide {

  .joyride-content-wrapper {
    background-color: $grey_100;
    border: 1px solid $grey_900;
    padding: 20px;

    .joyride-next-tip {
      @extend .btn, .btn-primary;
      background: $cartoon_green !important;
      text-shadow: none;
    }

    a.joyride-close-tip {
      color: $grey_900 !important;
    }

    p {
      color: $grey_900;
    }
  }

}
