.joyride-tip-guide {

  .joyride-content-wrapper {
    background-color: $gray_300;
    border: 1px solid $gray_800;
    padding: 20px;

    .joyride-next-tip {
      @extend .btn, .btn-primary;
      background: $dark_green !important;
      text-shadow: none;
    }

    a.joyride-close-tip {
      color: $gray_800 !important;
    }

    p {
      color: $gray_800;
    }
  }
}
