/* Landing component */

// Background
$landing_image_background: url('/assets/adelitas.gif');

// Container
$landing_container_width: 100%;
$landing_container_height: 550px;
$main_top_and_bottom_margin: 100px;

// Colors
$landing_default_color: #FFFFFF;

#intro {
  z-index: -1;
  width: $landing_container_width;
  height: $landing_container_height;
  background-image: $landing_image_background;
  background-size: cover;
  color: $landing_default_color;
  // margin-bottom: 70px;
  margin-top: -$main_top_and_bottom_margin;

  .overlay {
    position: absolute;
    width: $landing_container_width;
    height: $landing_container_height;
    background: $grey_800;
    opacity: 0.7;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 480px;
    padding-top: 150px;
  }

  p.topic {
    @extend .uppercase;
    font-size: 18px;
  }

  hr {
    margin-top: 0;
  }

  .recent_activity {
    padding: 0;
    list-style-type: none;


    li {
      background-color: $grey_800;
      padding: 10px 10px 10px 20px;
      &.odd { opacity: 0.6; }
      &.even { opacity: 0.8; }
    }
  }
}
