$button_background_color: $cartoon_green;

.nav-pills {
  margin-top: 1.5em;
  margin-bottom: .5em;

  li a,
  li a:hover,
  li a:focus {
    background-color: $button_background_color;
    color: #fff;
    margin-right: 5px;
    text-transform: uppercase;
  }
}
