//  ADELA color palette
//  -------------------------------------

$black:         #000000;
$white:         #FFFFFF;

//  Sorted from darker to lighter

$gray:          #333333;
$gray1:         #999999;
$gray2:         #ebebeb;

$blue:          #6633cc;
$blue1:         #00cccc;
$blue2:         #def4f0;

$red:           #ff0010;
$red1:          #ffcccc;

$green:         #DEF4F0;

// Color mappings

$alert:         $red1;
$alert-text:    $red;

$highlight:     $blue;
$action:        $blue;