.header {
  background-color: $black;
  height: 120px;
  padding: 40px 30px;
}

.nav-actions {
  padding: 14px 0;
}

// Sign In

.signin-wrapper {
  background-color: $blue;
  color: $white;
  font-weight: bold;
  height: 100%;
}

.signin-form {
  margin-top: 120px;
  padding: 0 70px;

  .button {
    border-radius: 0;
    background-color: $gray;
    font-weight: bold;

    &:hover {
      color: $white;
      background-color: $gray1;
    }
  }

  form {
    padding: 0 15px;
  }

  input[type="email"], input[type="password"] {
    color: $gray;
    font-weight: normal;
    padding: 3px;
    margin-bottom: 3px;
    width: 100%;
  }

  label, a {
    font-size: 14px;
    font-weight: normal;
    color: $gray1;
  }

  a:hover {
    color: $white;
  }
}

.signin-form-heading {
  margin-bottom: 45px;
  text-align: center;
}

// Dashboard

.app-description {
  color: $white;
  background-color: $blue;
  padding: 70px;
}

.heading {
  font-size: 36px;
}

.dashboard-wrapper {
  background-color: $white;
}

// Organization Dashboard

.org-header {
  padding-right: 0;
}

.org-data {
  background-color: $black;
  border-right: 1px solid $gray1;
  color: $white;
  font-size: 12px;
  padding: 8px;

  &:last-child {
    border-right: none;
  }
}

.org-about {
  background-color: $gray;
  color: $white;
  padding: 35px;
}

.button {
  background-color: $blue;
  color: $white;
  font-size: 13px;
  padding: 10px 15px;

  &:hover {
    background-color: $blue1;
    color: $white;
  }
}

// Activity Feed
.section-heading {
  padding: 45px 140px;
}

.activity-icon {
  background: image-url("big-clock.png") left no-repeat;
  padding: 10px 60px;
}

.organization-icon {
  background: image-url("organization.png") left no-repeat;
  padding: 10px 60px;
}

.inventory-icon {
  background: image-url("inventory.png") left no-repeat;
  padding: 10px 60px;
}

.calendar-icon {
  background: image-url("calendar.png") left no-repeat;
  padding: 10px 60px;
}

// Alerts
.alert {
  margin-bottom: 0;
}

span.danger {
  background: image-url("alert.png") left no-repeat;
  padding: 5px 15px;
}

.alert-danger {
  color: $red;
  background-color: $red1;
}