.header {
  background-color: $black;
  height: 120px;
  padding: 30px;
}

.logo {
  background: image-url("adela-logo.png") left no-repeat;
  min-width: 280px;
  min-height: 50px;
  padding: 26px 15px 0 60px;
}

a.logo-text {
  color: $white;
  font-size: 16px;
  &:hover {
    color: $white;
  }
}

.nav li a:hover {
  background-color: $black;
}

.nav-actions {
  padding: 14px 0;
}

.footer {
  background-color: $gray1;
  min-height: 120px;
  padding: 20px 180px;

  .contact {
    color: $white;
    margin-top: 20px;
  }
}
// Sign In and Edit password

.user-form-wrapper {
  background-color: $gray2;
  color: $blue;
  font-weight: bold;
  height: 100%;
}

.user-form {
  margin-top: 120px;
  padding: 0 70px;

  .button {
    border-radius: 0;
    background-color: $gray;
    font-weight: bold;
    margin-bottom: 5px;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }

  form {
    padding: 0 15px;
  }

  input[type="email"], input[type="password"] {
    border: none;
    color: $gray;
    font-weight: normal;
    padding: 4px;
    margin-bottom: 10px;
    width: 100%;

    &:focus {
      outline-color: $white;
    }
  }

  label, a {
    font-size: 14px;
    font-weight: normal;
    color: $gray;
  }

  a:hover {
    color: $blue;
  }

  small {
    font-weight: normal;
  }
}

.user-form-heading {
  margin-bottom: 45px;
  text-align: center;
}

// Dashboard

.dashboard-link {
  color: $gray1;
  font-size: 11px;

  &:hover {
    font-size: 11px;
  }
}

.app-description {
  color: $white;
  background-color: $blue;
  padding: 70px;
}

.heading {
  font-size: 36px;
}

.dashboard-wrapper {
  background-color: $white;
  padding-bottom: 45px;
}

.legends {

  .publication-legend {
    background: image-url("publish-log.png") left no-repeat;
    margin-right: 15px;
  }

  .update-legend {
    background: image-url("update-log.png") left no-repeat;
  }

  .published-legend {
    background: image-url("mini-inventory.png") left no-repeat;
  }

  span {
    padding: 10px 10px 10px 20px;
  }
}

.search {
  margin-bottom: 20px;

  .search-submit {
    position: absolute;
    top: 3px;
    right: 0px;
    padding: 4px;
  }

  input[type="text"] {
    background-color: $gray2;
    border: none;
    padding: 5px;
  }

  input:focus {
    outline-color: $gray2;
  }
}

// Organization Dashboard

.org-header {
  padding-right: 0;
}

.org-data {
  background-color: $black;
  border-right: 1px solid $gray1;
  color: $white;
  font-size: 12px;
  padding: 8px;

  &:last-child {
    border-right: none;
    cursor: pointer;
  }

  &:last-child:hover {
    background-color: $gray;
  }
}

.dropdown-menu {
  background-color: $black;
  font-size: 12px;

  li a {
    color: $white;
  }

  li a:hover {
    background-color: $gray;
    color: $white;
  }
}

.org-about {
  background-color: $gray;
  color: $white;
  padding: 35px;
}

.button {
  background-color: $blue;
  color: $white;
  font-size: 13px;
  padding: 10px 15px;

  &:hover, &.cancel:hover {
    background-color: $blue1;
    color: $white;
  }

  &.cancel {
    background-color: $gray1;
  }
}

// Activity Feed
.section-heading {
  padding: 45px 140px;
}

.section-links {
  margin-bottom: 15px;
  height: 40px;
}

.section-content {
  min-height: 200px;
  position: relative;
}

.activity-icon {
  background: image-url("big-clock.png") left no-repeat;
  padding: 10px 60px;
}

.organization-icon {
  background: image-url("organization.png") left no-repeat;
  padding: 10px 60px;
}

.inventory-icon {
  background: image-url("inventory.png") left no-repeat;
  padding: 10px 60px;
}

.calendar-icon {
  background: image-url("calendar.png") left no-repeat;
  padding: 10px 60px;
}

.expanded-table {
  width: 100%;

  .icon {
    width: 45px;
  }

  tr.table-footer td {
    background-color: $white;
  }

  td {
    padding: 10px 0;
  }

  td:first-child, td:last-child, th:first-child, th:last-child {
    width: 150px;
  }

  thead {
    background-color: $white;
    border-bottom: 1px solid $gray1;
  }

  th {
    background-color: $white;
    font-size: 14px;
    font-weight: normal;
    width: 160px;
  }

  tr:nth-child(odd) {
    background-color: $gray2;
  }

}

.activity-logs {
  .date {
    color: $gray1;
  }

  .text {
    color: $blue;
  }
}

// Alerts
.alert {
  margin-bottom: 0;
}

span.danger {
  background: image-url("alert.png") left no-repeat;
  padding: 5px 15px;
}

.alert-danger {
  color: $red;
  background-color: $red1;
  a {
    color: $red;
  }
}

// Pagination

.pagination {

  .current {
    background-color: $gray2;
    color: $blue;
    padding: 3px 5px;
  }

  a {
    padding: 3px 5px;
    background-color: $gray1;
    color: $white;

    &:hover {
      background-color: $gray2;
      color: $blue;
    }
  }

  a:first-child, a:last-child, .disabled {
    background-color: $white;
    color: $gray1;

    &:hover {
      background-color: $white;
      color: $gray1;
    }
  }
}

// Inventories

.version-icon {
  background: image-url("clock.png") left no-repeat;
  padding: 10px 0px 10px 40px;
}

.catalog-icon {
  background: image-url("publication.png") left no-repeat;
  padding: 10px 0px 10px 40px;
}

.no-icon {
  padding: 10px 0px 10px 40px;
}

.version-data {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 20px;

  .label {
    color: $gray1;
    font-size: 14px;
    font-weight: normal;
  }

  img {
    padding: 10px;
  }
}

.last-version {
  background-color: $gray2;
}

.last-catalog {
  background-color: $blue2;
}

.pull-down {
  margin-top: 60px;
  margin-bottom: 20px;
}

.steps-wrapper {
  background-color: $white;
  padding: 5px 65px;
}

.inventory-step {
  border-bottom: 1px solid $gray-light;
  min-height: 60px;
  margin-bottom: 10px;
  padding: 5px;
}

.inventory-last-step {
  border: none;
  height: 130px;
  margin-bottom: 0;
}

.inventory-preview {
  border-top: 1px solid $gray-light;
  padding: 15px 5px;
}

.template-file-icon {
  padding-right: 10px;
}

.preview-table {
  margin-bottom: 10px;
  max-height: 500px;
  overflow: scroll;
}

.inventory-action {
  margin-top: 15px;
  margin-bottom: 15px;
}

// Organizations table
.organizations-table {

  a {
    color: $gray;
  }

  a:hover {
    color: $blue;
  }
}

//  Topics section

.calendar-heading {
  color: $gray1;
}

.calendar-navigation {
  padding: 0 5px 5px 5px;
}

.calendar-navigation-link {
  color: $gray1;
}

.calendar-nav-bar {
  margin-top: 20px;

  .button {
    padding: 5px 10px;
    background-color: $gray1;
  }

  .button:hover, .button.active {
    background-color: $blue;
  }

  li {
    padding: 0 1px;
  }
}

.day-holder {
  background-color: $gray2;
  border-bottom: 4px solid $white;
  min-height:  70px;
  overflow:  auto;
}

.day-topics-holder {
  overflow: auto;
}

.topic-item {
  border-left: 4px solid $white;
  border-bottom: 4px solid $white;
  min-height:  70px;
  padding: 10px;

  .topic-label {
    color: $gray1;
  }

  .edit-tools a {
    color: $blue;
  }

  .more-link, .less-link {
    color: $blue1;
  }

  &:last-child {
    border-bottom: none;
  }

  &.light {
    color: $gray1;
  }

  a {
    color: $gray;
  }
}

.topic-form-holder {
  background-color: $green;

  .button {
    padding: 5px 10px;
  }

  .calendar {
    padding: 6px;
  }

  &.data-controls {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  label {
    font-weight: normal;
    color: $gray1;
  }
}

// Profile form

.logo-preview {
  max-width: 80px;
  max-height: 80px;
}

.logo-round {
  border-radius: 50%;
}