/*
 *= require toastr
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font-face{
 font-family:'Glyphicons Halflings';
 src: image-url("bootstrap/glyphicons-halflings-regular.eot");
 src: image-url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
      image-url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
      image-url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
      image-url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

@import "bootstrap-sprockets";
@import "bootstrap";

@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.datepicker";

@import "template/colors";

// components
@import "components/alert";
@import "components/breadcrumbs";
@import "components/callouts";
@import "components/carrets";
@import "components/forms";
@import "components/icons";
@import "components/jumbotron";
@import "components/labels";
@import "components/navbar";
@import "components/toast";
@import "components/jquery.dataTables";
@import "components/dashboard";

// elements
@import "elements/a";
@import "elements/button";
@import "elements/headings";
@import "elements/p";
@import "elements/table";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-top: 50px; // navbar height
  color: $gray_400;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.thin {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.margin-top-20 {
  margin-top: 20px;
}
