/*
 *= require toastr
 *= require joyride-2.1
 *= require_self
 */

@import "bootstrap";
@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.datepicker";
@import "font-awesome";

// Defaults
@import 'defaults/colors';
@import 'defaults/utilities';
@import 'defaults/mixins';

// Elements
@import "elements/text";
@import "elements/input";
@import "elements/button";
@import "elements/link";
@import "elements/table";
@import "elements/textarea";

// Components
@import "components/alert";
@import "components/carret";
@import "components/navbar";
@import "components/nav-pills";
@import "components/footer";
@import "components/landing";
@import "components/forms";
@import "components/newsletter";
@import "components/breadcrumbs";
@import "components/datepicker";
@import "components/joyride";

// Cards
@import "components/cards";

body {
  background-color: $grey_100;
}

.toast-top-right {
  top: 90px;
}
