/*
 *= require toastr
 */

@import url(https://fonts.googleapis.com/css?family=OpenSans:400,300,600,700);
@font-face{
 font-family:'Glyphicons Halflings';
 src: image-url("bootstrap/glyphicons-halflings-regular.eot");
 src: image-url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
      image-url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
      image-url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
      image-url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

@import "bootstrap-sprockets";
@import "bootstrap";

@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.datepicker";

@import "template/colors";

// components
@import "components/alert";
@import "components/breadcrumbs";
@import "components/callouts";
@import "components/carrets";
@import "components/forms";
@import "components/icons";
@import "components/jumbotron";
@import "components/labels";
@import "components/navbar";
@import "components/toast";
@import "components/jquery.dataTables";
@import "components/dashboard";

// elements
@import "elements/a";
@import "elements/button";
@import "elements/headings";
@import "elements/p";
@import "elements/table";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-top: 50px; // navbar height
  color: $gray_400;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.thin {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.margin-top-20 {
  margin-top: 20px;
}

// dashboard opi

.content-dashboard {
  margin-top: 40px;
}

.content-sub-dashboard {
  margin-top: 80px;
}

.calificacion-dashboard {
    font-weight: bold;
    font-size: 3em;
}

.lugar-dashboard {
    float: left;
    margin-left: 15px;
}

.content-dashboard .title, .content-dashboard .subtitle {
    color: #585858;
    margin-bottom: 5px !important;
}

.content-dashboard p {
    color: #777777;
}

.content-dashboard h3 {
    font-size: 18px;
    font-weight: 600;
}

.content-dashboard h2 {
    font-size: 34px;
}

.content-dashboard hr {
    border-top: 1px solid #cccccc;
}

.content-dashboard table {
    font-size: 12px
}

.high-light-dashboard{
  color:#00cc99;
}

.calificacion-dashboard-gray  {
    color: #b7b7b7;
    font-weight: bold;
    font-size: 3em;
}

.table-cell, .table > tbody > tr > td, .table > thead > tr > th {
    color: #474747;
    font-weight: 300;
    padding: 15px;
}

#logo_org{
  min-width: 200px;
  width: 100%;
  max-width: 245px;
  margin-left: -18px;
}

svg { overflow: visible !important; }

.gly-3x { font-size: 2.5em }
.gly-warning { font-size: 3em; margin: 0 15px;  }

.gray_back {
  background-color: #F7F5F5;
}

.gray_back .container {
  padding: 40px 0 15px;
}

.overlay-dashboard{
  position: absolute;
  right: 0;
  width: 100%;
}

///////// dashboard opi

.content-dashboard {
  margin-top: 40px;
}

.content-sub-dashboard {
  margin-top: 80px;
}

.calificacion-dashboard {
    font-weight: bold;
    font-size: 3em;
}

.lugar-dashboard {
    float: left;
    margin-left: 15px;
}

.content-dashboard .title, .content-dashboard .subtitle {
    color: #585858 !important;
    margin-bottom: 5px !important;
}

.content-dashboard p {
    color: #777777 !important;
}

.content-dashboard h3 {
    font-size: 18px;
    font-weight: 600;
}

.content-dashboard h2 {
    font-size: 34px;
}

.content-dashboard hr {
    border-top: 1px solid #cccccc;
}

.content-dashboard table {
    font-size: 12px
}

.content-dashboard a {
  text-decoration: underline;
}

.high-light-dashboard{
  color:#00cc99 !important;
}

.calificacion-dashboard-gray  {
    color: #b7b7b7 !important;
    font-weight: bold;
    font-size: 3em;
}

.table-cell, .table > tbody > tr > td, .table > thead > tr > th {
    color: #474747 !important;
    font-weight: 300;
    padding: 15px;
}

.content-dashboard .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd !important;
  font-weight: 600;
}


#logo_org{
  // min-width: 200px;
  // width: 100%;
  // max-width: 245px;
  margin-left: -18px;
}

svg { overflow: visible !important; }

.gly-3x { font-size: 2.5em }
.gly-warning { font-size: 3em; margin: 0 15px;  }

.gray_back {
  background-color: #F7F5F5 !important;
}

.gray_back .container {
  padding: 40px 0 15px;
}

.overlay-dashboard{
  position: absolute;
  right: 0;
  width: 100%;
}

.table-500 { height: 500px; }
.table-400 { height: 400px; }

.starLight {
  color: #00CC99 !important;
}

.noPrint { display: inline-block }
.printHiden { display: none }

@media print {

  .breakhere { page-break-after: always; }

  .content-dashboard {
    margin-top: -20px !important;
  }

  .content-sub-dashboard {
    margin-top: -20px !important;
  }

  .starLight:before {
    color: #00CC99 !important;
  }

  .starDark:before {
    color: #D8D8D8 !important;
  }

  .noPrint { display: none }
  .printHiden { display: block }
  .table-500 { height: 400px; }
  .table-400 { height: 300px; }

}
