.container
  -# Card: List stuff / 'Planea'
  .card
    %h3.title Planea
    %h5.subtitle
      %span Inventario de datos
      |
      %span.primary.boldish.uppercase Ago 28
    %ul.list
      %li.item
        .index 1
        %span Descarga la plantilla del inventario &nbsp;&nbsp;
        = link_to 'Descargar', 'http://mxabierto.github.io/guia/docs/inventario_general_de_datos.xlsx', { class: 'btn btn-primary' }
      %li.item
        .index 2
        %span Llena la plantilla con informaci&oacute;n
      %li.item
        .index 3
        %span Sube el inventario &nbsp;&nbsp;
        = link_to 'Subir', new_inventory_path, { class: 'btn btn-primary' }
    %h5.subtitle
      %span Plan de apertura
      |
      %span.primary.boldish.uppercase Sep 25
    %p
      El plan de apertura contiene el calendario de publicaci&oacute;n anual
      de los datos abiertos de la instituci&oacute;n
  .card
    %h3.title Publica
    %h5.subtitle Cat&aacute;logo de datos institucional
    %p
      Publica el Cat&aacute;logo de datos Institucional en datos.gob.mx
  .card
    %h3.title Perfecciona
    %h5.subtitle
      Aqu&iacute; encontrar&aacute;s las recomendaciones para mejorar en la
      implementaci&oacute;n de Datos Abiertos
  .card
    %h3.title Promueve
    %h5.subtitle
      Cat&aacutelogo de datos institucional
  .card
    = render "dashboard"
