.row
  .col-md-9
    %h3.title ¡Bienvenido a ADELA!
.row
  .col-md-9
    %p
      En ADELA podrás cargar, calendarizar, documentar, publicar y editar los Conjuntos y Recursos de Datos Abiertos de tu Institución que posteriormente se verán reflejados en el portal datos.gob.mx.
    %p
      ADELA te ayuda a cumplir con los pasos establecidos en la Guía de Implementación de la Política de Datos Abiertos. Aquí podrás cumplir con:

    %h5.subtitle
      %span.thin PASO 1
      | PLANEA
    %ol
      %li
        Formar un grupo de trabajo y designación de Enlace y Administrador de datos abiertos
      %li
        Crear un Plan de Apertura Institucional
      %li
        Priorizar los datos de valor
      %li
        Generar y publicar el Plan de Apertura Institucional
  .col-md-3
    .jumbotron.green.margins.center
      %p
        %strong ¿Necesitas ayuda?
      %p
        = link_to 'Consulta las guías', 'http://datos.gob.mx/guia/', class: 'btn btn-alt btn-lg btn-block', target: '_blank'

.row
  .col-md-9
    %h5.subtitle
      %span.thin PASO 2
      | PUBLICA
    %ol
      %li
        Prepara los conjuntos de datos
      %li
        Documentar los conjuntos de Datos Abiertos de acuerdo al estándar DCAT
      %li
        Publicar el Catálogo de Datos Abiertos en www.datos.gob.mx

.row
  .col-md-9
    %h5.subtitle
      %span.thin PASO 3
      | PERFECCIONA
    %ol
      %li
        Atiende las recomendaciones para mejorar la implementación de Datos Abiertos

.row
  .col-md-9
    %h5.subtitle
      %span.thin PASO 4
      | PROMUEVE
    %ol
      %li
        Promover el uso, reúso y redistribución de los Datos Abiertos
