%p
  Hola #{@resource.email}!
%p Alguien ha solicitado cambiar tu contraseña. Puedes hacerlo accediendo al siguiente link:
%p= link_to 'Cambiar mi contraseña', edit_user_password_url(:reset_password_token => @token)
%p Si no solicitaste el cambio de contraseña, por favor ignora este correo.
%p Tu contraseña no se cambiará hasta que ingreses al link anterior e ingreses una nueva contraseña.
%br/
%hr/
%strong ADELA
