.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Admin', admin_root_path
    %li= link_to 'Usuarios', admin_users_path
    %li.active Editar
  .card
    %h3.title Editar Usuario
    = render 'admin/users/shared/form'
