.container
  %ol.breadcrumb.breadcrumb-admin
    %li= link_to 'Admin', admin_root_path
    %li= link_to 'Usuarios', admin_users_path
    %li.active Nuevo
  .card
    %h3.title Nuevo Usuario
    = render 'admin/users/shared/form'
