.newsletter
  .content
    %span.dark
      ¿Te interesa saber m&aacute;s sobre
      %strong datos.gob.mx
      ?
    %input.form-control.inline{ type:"text", placeholder: 'Correo Electrónico' }
    = link_to 'Enviar', '#', class: 'btn btn-primary'
