.newsletter
  %form.form-inline
    .form-group
      %label.dark
        ¿Te interesa saber m&aacute;s sobre
        %strong datos.gob.mx
        ?
      %input.form-control{ type:"email", placeholder: 'Correo Electrónico' }
    %button.btn.btn-primary Enviar
