<div class="header">
  <%= link_to root_path, {:class => "logo-text"} do %>
    <div class="logo col-md-2 pull-left">
      <span class="logo-text">Abrir para <strong>innovar</strong></span>
    </div>
  <% end %>
  <div class="nav-actions col-md-3 pull-right">
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Mi organización", organization_path(current_organization) %></li>
        <li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <%= link_to "Iniciar sesión", new_user_session_path %>
    <% end %>
  </div>
</div>